#banner{
    height: 300px;
    margin-top: 50px;
    background-color: purple;
    /* background-image: url("/images/pokemon.png"); */

}
.container-fluid{
    padding: 0px;
}
span{
    width: 100%;
    padding-top:5%;
}
#bannerTag{
    margin-top: 80px;
    color: white;
}
.navbar{
    height: 100px;
    justify-content: center;  
    padding: 0px;
}
#top-nav{
    border-bottom: blue;
    border-width: 5px;
    background-color:white;
}
ul{
    justify-content: center;
    width: 100%;
    padding-right: 40px;
}
li{
    float: left;
    list-style: none;
    padding-top: 5px;
}
#logo{
    width: 300px;
    font-size: 30px;
}
#score{
    right: 30px;
    font-size: 30px;
    float: right;
}
.row{
    margin: 0px;
    width: 100%;
}